<div class='equipe equipe-list-item'>
    <div class='equipe-nome-container'>
        <h2 class='equipe-nome'>{{ equipe.nome_equipe }}</h2>
    </div>

    <div class="equipe-content">
        <div class="equipe-meta-container">
            <div class="tarefas-nao-concluidas">
                <span>Tarefas não concluídas: {{ tarefas_nao_concluidas }}</span>
            </div>
            <div class="tarefas-total">
                <span>Total de tarefas: {{ total_tarefas }}</span>
            </div>
            <div class='tarefas-concluidas'>
                <span>Tarefas concluídas: {{ tarefas_concluidas }}</span>
            </div>

            
        </div>
        <div class="equipe-detalhe">
            <a href="{% url "equipe_detalhe" equipe.id %}">
                <button><i class="fas fa-eye"></i> Ver Mais</button>
            </a>
            
            {% if usuario.cargo == 'Professor' %}
            <div class="bnt-add-usuario">
                <button><i class='fas fa-plus'></i> adicionar usuario</button>
            </div>
            {% endif %}
        </div>
    </div>
</div>
