<div class="tarefa tarefa-list-item">
    <div class="tarefa-title-container">
        <h2 class="tarefa-title">{{ tarefa.titulo }}</h2>
    </div>

    <div class="tarefa-meta-container">
        <div class="tarefa-meta tarefa-autor">
            <span><i class="fas fa-user"></i> Autor: {{ tarefa.autor }}</span>
        </div>
        <div class="tarefa-meta tarefa-data-criacao">
            <span><i class="fas fa-calendar-alt"></i> Data de Criação: {{ tarefa.data_criacao|date:"d/m/Y H:i"  }}</span>
        </div>
        <div class="tarefa-meta tarefa-data-limite">
            <span><i class="fas fa-calendar-times"></i> Data Limite: {{ tarefa.data_limite|date:"d/m/Y H:i"  }}</span>
        </div>
    </div>

    {% if tarefa.concluida %}
    <footer class="tarefa-content"> 
        <div class="tarefa_finalizada">
            <span>Finalizada</span>
        </div>
    </footer>
    {% else %}
    {% if is_detail_page is not True %}
    <footer class="tarefa-content">
        <div class="tarefa-detalhe">
            <a href="{% url 'tarefa_detail' tarefa.id %}"><button><i class="fas fa-eye"></i> Ver Mais</button></a>
        </div>

        {% else %}
        <p>{{ tarefa.descricao }}</p>
        <div class="tarefa-detalhe">
            <a href="{% url 'concluir_tarefa' tarefa.id %}"><button><i class="fas fa-check"></i> finalizar</button></a>
        </div>
    </footer>
    {% endif %}
    {% endif %}
</div>
