{% extends "global/base.html" %}

{% block content %}
<div>
    <h1 class='nome_equipe_estatisticas' style="text-align: center;">{{ equipe.nome_equipe }}</h1>

    <button class="botao_popup" onclick="openSalaPopup()">Gráficos de Desempenho da Sala</button>

    <a href="{% url 'download_excel' equipe.id %}" class="botao-download-excel"><i class="fa fa-download"></i> Planilha Excel</a>


    <div id="sala-popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closeSalaPopup()">&times;</span>
            <div id="sala-grafico-container" class="grafico-container">
                <img class="grafico-imagem" src="data:image/png;base64,{{ grafico }}"
                    alt="Gráfico de Estatísticas da Equipe">
            </div>
        </div>
    </div>

    <table class="table-responsive">
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Tarefas Concluídas</th>
                <th>Tarefas Não Concluídas</th>
                <th>Tarefas Certas</th>
                <th>Tarefas Erradas</th>
            </tr>
        </thead>
        <tbody>
            {% for stats in estatisticas_usuarios %}
            <tr>
                <td><a onclick="openUserPopup('{{ stats.grafico_usuario }}')">{{ stats.usuario.nome }}</a></td>
                <td>{{ stats.tarefas_concluidas }}</td>
                <td>{{ stats.tarefas_nao_concluidas }}</td>
                <td>{{ stats.corretas }}</td>
                <td>{{ stats.erradas }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="user-popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closeUserPopup()">&times;</span>
            <div id="user-grafico-container" class="grafico-container">
            </div>
        </div>
    </div>
</div>

<script>
    function openSalaPopup() {
        document.getElementById("sala-popup").style.display = "block";
    }

    function closeSalaPopup() {
        document.getElementById("sala-popup").style.display = "none";
    }

    function openUserPopup(graficoUsuario) {
        var popup = document.getElementById("user-popup");
        var graficoContainer = document.getElementById("user-grafico-container");

        graficoContainer.innerHTML = '<img class="grafico-imagem" src="data:image/png;base64,' + graficoUsuario + '" alt="Gráfico de Estatísticas do Usuário">';

        popup.style.display = "block";
    }

    function closeUserPopup() {
        document.getElementById("user-popup").style.display = "none";
    }
</script>
{% endblock %}