{% extends "global/base.html" %}

{% block content %}
<div>
    <h1 class='nome_equipe_estatisticas' style="text-align: center;">{{ equipe.nome_equipe }}</h1>

    <button class="botao_popup" onclick="openPopup()">graficos de desenpenho da sala </button>
    
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <div id="grafico-container" class="grafico-container">
                <img class="grafico-imagem" src="data:image/png;base64,{{ graphic }}" alt="Gráfico de Estatísticas da Equipe">
            </div>
        </div>
    </div>
    <table class="table-responsive">
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Tarefas Concluídas</th>
                <th>Tarefas Não Concluídas</th>
                <th>Tarefas Erradas</th>
                <th>Tarefas Certas</th>
            </tr>
        </thead>
        <tbody>
            {% for stats in estatisticas_usuarios %}
            <tr>
                <td>{{ stats.usuario.nome }}</td>
                <td>{{ stats.tarefas_concluidas }}</td>
                <td>{{ stats.tarefas_nao_concluidas }}</td>
                <td>{{ stats.corretas }}</td>
                <td>{{ stats.erradas }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function openPopup() {
      document.getElementById("popup").style.display = "block";
    }
    
    function closePopup() {
      document.getElementById("popup").style.display = "none";
    }
    </script>
{% endblock %}
