* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  background-color: #e0e0e0;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 3rem;
}

.main-header-container {
  background: #13141f;
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
}

.main-logo {
  font-size: 4rem;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.main-logo-icon {
  margin-right: 2rem;
}

.main-footer {
  background: #13141f;
  color: #fff;
  padding: 4rem;
}

.main-footer a {
  color: #fff;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.main-footer a:hover {
  filter: brightness(.8);
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #13141f;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1000;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px;
  text-align: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar ul li:hover {
  background-color: #212336;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #13141f;
  color: white;
  padding: 10px 15px;
  border: none;
  z-index: 1001;
  position: fixed;
  top: 20px;
  left: 20px;
}

.openbtn:hover {
  background-color: #212336;
}

.tarefa {
  background: #ffffff;
  box-shadow: -5px 5px 1px rgba(0, 0, 0, .2);
  transition: all 300ms ease-in-out;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 2rem;
  text-align: center;
}

.tarefa-list-item {
  padding: 1.5rem;
}

.tarefa-title-container {
  padding-bottom: 2rem;
}

.tarefa-title-container a {
  text-decoration: none;
}

.tarefa-content {
  padding: 2rem;
  color: #444;
}



.tarefa-meta-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: #e0e0e0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.tarefa-meta {
  flex: 1;
}

.tarefa-meta-litle {
  font-size: 1.6rem;
}
.tarefa_finalizada{
  background-color: #088004;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  max-width: 20rem;
  transition: background-color 0.3s;
}

.tarefa_finalizada:hover{
  background-color: #1c9918
}

.tarefa-detalhe button{
  background-color: #202020;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  max-width: 20rem;
  transition: background-color 0.3s;
}

.tarefa-detalhe button:hover {
  background-color: #404040;
}


.alternativa {
  padding: 20px; 
  border-radius: 10px;
}

.alternativas-container {
  padding: 15px;
  border-radius: 8px;
}

.alternativas-container p {
  margin-bottom: 10px; 
  font-size: 16px;
}

.alternativas-container input[type="radio"] {
  cursor: pointer;
  margin-right: 10px; 
}



.cadastro_equipe {
  width: 90%;
  padding: 2rem;
  max-width: 600px;
  background-color: #202020;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cadastro_equipe h2 {
  justify-content: center;
  align-items: center;
  color: white;
}

.cadastro_equipe label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.cadastro_equipe input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1); 
  color: white;
}

.cadastro_equipe button[type="submit"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cadastro_equipe button[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.equipe {
  background: #ffffff;
  box-shadow: -5px 5px 1px rgba(0, 0, 0, .2);
  transition: all 300ms ease-in-out;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 2rem;
  margin-left: 20px;
  text-align: center;
  height: 270px;
  width: 450px;
  display: inline-block; 
  vertical-align: top;
}

.equipe-list-item {
  padding: 1.5rem;
}

.equipe-nome-container {
  padding-bottom: 2rem;
}

.equipe-nome-container a {
  text-decoration: none;
}

.equipe-content {
  padding: 2rem;
  color: #444;
}

.equipe-meta-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: #e0e0e0;
}

.equipe-meta {
  flex: 1;
}

.equipe-meta-litle {
  font-size: 1.6rem;
}

.equipe-detalhe button {
  background-color: #202020;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  max-width: 20rem;
  transition: background-color 0.3s;
}

.equipe-detalhe button:hover {
  background-color: #404040;
}

.bnt-add-usuario button {
  background-color: #009c2c;
  margin-top: 5px;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  max-width: 200px; 
  transition: background-color 0.3s;
}

.bnt-add-usuario button:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 2rem;
  }

  .cadastro_equipe {
    width: 90%;
    padding: 2rem;
    max-width: 600px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 2rem;
  }
  
  .tarefa,
  .equipe {
    width: 100%;
    margin-bottom: 1rem;
  }

  .cadastro_equipe {
    width: 90%;
    padding: 2rem;
    max-width: 600px;
  }
}

.cadastro_equipe {
  width: 90%;
  padding: 2rem;
  max-width: 600px;
  background-color: #202020;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cadastro_equipe h2 {
  color: white;
  text-align: center;
  margin-bottom: 1.5rem;
}

.cadastro_equipe label {
  display: block;
  margin-bottom: 0.5rem;
  color: white;
}

.cadastro_equipe input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  margin-bottom: 1rem;
}

.bnt-add-usuario button {
  background-color: #009c2c;
  margin-top: 5px;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  transition: background-color 0.3s;
}

.bnt-add-usuario button:hover {
  background-color: #45a049;
}


@media only screen and (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  .tarefa,
  .equipe {
    width: 100%;
    margin-bottom: 1rem;
  }

  .cadastro_equipe {
    width: 90%;
    padding: 1rem;
    max-width: 400px;
  }
}
.adicionar_tarefas {
  background-color: #ffffff;
  box-shadow: -5px 5px 1px rgba(0, 0, 0, .2);
  transition: all 300ms ease-in-out;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 2rem;
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%; 
  width: 100rem; 
}

.adicionar_tarefas h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.adicionar_tarefas form {
  display: flex;
  flex-direction: column;
}

.adicionar_tarefas label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.adicionar_tarefas input[type="text"],
.adicionar_tarefas input[type="datetime-local"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  width: 100%; /* Adiciona uma largura de 100% para que o campo ocupe todo o espaço disponível */
}

.adicionar_tarefas button[type="submit"] {
  background-color: #13141f;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: auto;
  display: block;
  margin-top: 2rem;
  width: 100%; /* Adiciona uma largura de 100% para que o botão ocupe todo o espaço disponível */
}

.adicionar_tarefas button[type="submit"]:hover {
  background-color: #242531;
}

.alternativas {
  display: grid;
  grid-template-columns: auto 1fr; 
  gap: 1rem; 
}

.alternativas label {
  font-size: 1.6rem;
  align-self: center;
}

.alternativas textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

@media screen and (max-width: 768px) {
  .adicionar_tarefas {
    width: 90%; 
    max-width: 90%;
  }
}
